$primary: #212121;
$secondry: #32c50b;
$on-primary: #007900;
$theme-dark: rgba(0, 0, 0, 0.54);
$theme-light: #fff;

// theme toggle scss
$color_checkbox_success: #4cd964;
$color_checkbox_default: #8e8e93;
$transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 4em;
$height: $width/2;
